# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
**/.env
**/secrets.toml
**/config.toml
forge.toml

# Keypair(s)/Password(s)
node/wallet/key.json
node/api
node/password

# Packages
node_modules
**/node_modules

# Trash
.DS_store
**/.DS_Store
